---
import LinkButton from "../components/LinkButton.astro";
---

<nav>
  <ul>
    <li>
      <LinkButton
        variant="footer"
        size="large"
        linkTo="/index.html"
        text="Forsiden"
      />
    </li>
    <li>
      <LinkButton variant="menu" size="large" linkTo="/about" text="Om" />
    </li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: 10px;
    list-style: none;
  }
  nav {
    margin-bottom: 2rem;
  }
</style>
